# Configuration file

general {
    # When held in the off-hand, this item makes modifiers change stats in the opposite direction. [default: minecraft:quartz]
    S:"Inverse Item"=minecraft:quartz

    # The durability damage dealt to an item that silk touches a spawner. [range: 0 ~ 100000, default: 100]
    I:"Spawner Silk Damage"=100

    # The level of silk touch needed to harvest a spawner.  Set to -1 to disable, 0 to always drop.  The enchantment module can increase the max level of silk touch. [range: -1 ~ 127, default: 1]
    I:"Spawner Silk Level"=1
}


ignore_spawn_cap {
    # The item that applies this modifier. [default: minecraft:chorus_fruit]
    S:item=minecraft:barrier
}


ignore_spawn_conditions {
    # The item that applies this modifier. [default: minecraft:dragon_egg]
    S:item=minecraft:barrier
}


max_delay {
    # The item that applies this modifier. [default: minecraft:clock]
    S:item=thermal:machine_speed_augment

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 10000]
    I:max_value=1000

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 10]
    I:min_value=10

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: -10]
    I:value=-10
}


max_nearby_entities {
    # The item that applies this modifier. [default: minecraft:ghast_tear]
    S:item=minecraft:end_crystal

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 40]
    I:max_value=40

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 0]
    I:min_value=0

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 2]
    I:value=2
}


min_delay {
    # The item that applies this modifier. [default: minecraft:sugar]
    S:item=minecraft:honeycomb

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 10000]
    I:max_value=1000

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 5]
    I:min_value=5

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: -5]
    I:value=-5
}


player_activation_range {
    # The item that applies this modifier. [default: minecraft:prismarine_crystals]
    S:item=overloaded:player_interface

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 50]
    I:max_value=10

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 0]
    I:min_value=0

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 2]
    I:value=2
}


redstone_control {
    # The item that applies this modifier. [default: minecraft:comparator]
    S:item=thermal:redstone_servo
}


require_players {
    # The item that applies this modifier. [default: minecraft:nether_star]
    S:item=miniutilities:nether_star_opinium_core
}


spawn_count {
    # The item that applies this modifier. [default: minecraft:fermented_spider_eye]
    S:item=envirocore:erodium_crystal

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 20]
    I:max_value=5

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:min_value=1

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:value=1
}


spawn_eggs {
    # A list of entity registry names that cannot be applied to spawners via egg. [default: ]
    S:"Banned Mobs" <
      minecraft:villager
      theabyss:soul_lizard
      theabyss:soul_lizard_jungle
      theabyss:abyss_elder
      theabyss:abyss_forest_zombie
      theabyss:abyss_forest_zombie_lv_l_3
      theabyss:abyss_forest_zombie_lv_l_4
      theabyss:abyss_guard_lv_l_1
      theabyss:abyss_guard_lv_l_4
      theabyss:abyss_guard_protect
      theabyss:abyss_raptor
      theabyss:abyss_spider_lv_l_2
      theabyss:abyss_spider_lv_l_3
      theabyss:abyss_tag
      theabyss:abysscorruptedcow
      theabyss:abysscreeper
      theabyss:abyssguard
      theabyss:abyssspider
      theabyss:carlos
      theabyss:carlos_end_fight
      theabyss:endspider
      theabyss:entitybulletabyss_explosive_shuriken
      theabyss:entitybulletabyss_shuriken
      theabyss:entitybulletenderbow
      theabyss:entitybulleteyelie_attack
      theabyss:entitybulletnight_hunter_abl_2
      theabyss:entitybulletphantom_attack
      theabyss:entitybulletphantom_wand
      theabyss:entitybulletspectral_spawn
      theabyss:eot_light_fish
      theabyss:eot_light_fish_2
      theabyss:eot_light_fish_3
      theabyss:eot_light_fish_4
      theabyss:eot_phantom
      theabyss:eyelie_entity
      theabyss:fire_fly
      theabyss:ice_knight
      theabyss:ice_knight_end_game
      theabyss:ice_skeleton
      theabyss:jackson
      theabyss:jackson_end_fight
      theabyss:jungle_light_fish
      theabyss:jungle_light_fish_green
      theabyss:light_fish
      theabyss:lorenzo
      theabyss:lorenzo_end_fight
      theabyss:markus
      theabyss:markus_end_fight
      theabyss:meramus
      theabyss:meramus_end_fight
      theabyss:nether_scorpion_lv_l_4
      theabyss:netherscorpion
      theabyss:night_hunter
      theabyss:nosaj_boss
      theabyss:nosaj_end_fight
      theabyss:phantom_abyss_entity
      theabyss:phantom_abyss_entity_lv_l_3
      theabyss:seeker
      theabyss:silvia
      theabyss:silvia_end_fight
      theabyss:slime_spider
      theabyss:soldier_end_fight
      theabyss:soul_guard_lv_l_4
      theabyss:soulguard
      theabyss:spectral_entity
      theabyss:stephen
      theabyss:stephen_end_fight
      theabyss:the_abyss_dire_wolf
      theabyss:the_abyss_golem
      theabyss:the_abyss_wolf
      theabyss:the_lurker
      theabyss:the_roka
      theabyss:the_roka_end_ally
      theabyss:the_roka_end_boss
      thebeginning:lugar
      thebeginning:occupant
      thebeginning:toxic_jellyfish
      occultism:afrit
      occultism:afrit_wild
      occultism:bat_familiar
      occultism:djinni
      occultism:foliot
      occultism:marid
      occultism:possessed_enderman
      occultism:possessed_endermite
      occultism:possessed_ghast
      occultism:possessed_skeleton
      occultism:wild_hunt_skeleton
      occultism:wild_hunt_wither_skeleton
      mana-and-artifice:demon_imp
      mana-and-artifice:hulking_zombie
      mana-and-artifice:lantern_wraith
      mana-and-artifice:mushroom_soldier
      mana-and-artifice:pixie
      mana-and-artifice:skeleton_assassin
      mana-and-artifice:spell_breaker
      mana-and-artifice:witch_hunter
     >
}


spawn_range {
    # The item that applies this modifier. [default: minecraft:blaze_rod]
    S:item=refinedstorage:range_upgrade

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 32]
    I:max_value=16

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:min_value=1

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:value=1
}
